@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      rgb(255, 0, 0) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(0, 255, 221) 0px, transparent 80%),
    radial-gradient(at 82% 99%, rgb(255, 0, 25) 0px, transparent 80%),
    radial-gradient(at 47% 96%, rgb(0, 255, 47) 0px, transparent 80%),
    radial-gradient(at 79% 53%, rgb(99, 8, 107) 0px, transparent 80%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(30px) saturate(180%);
  top: 70px;
  opacity: 0.15;
}